<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>notificationrefresh</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SENTRY_DSN</key>
	<string>https://$(SENTRY_DSN)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>privacy.calendar</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>nl.wissehes.Rooster-voor-Zermelo.todayAction</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcuts.today.title</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>nl.wissehes.Rooster-voor-Zermelo.tomorrowAction</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcuts.tomorrow.title</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
		</dict>
	</array>
</dict>
</plist>
